aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
aiosqlite==0.22.1
async-timeout==5.0.1
attrs==26.1.0
certifi==2026.7.22
cffi==2.0.0
curl_cffi==0.13.0
davey==0.1.6
discord.py==2.7.1
frozenlist==1.8.0
idna==3.18
multidict==6.7.1
propcache==0.4.1
pycparser==2.23
PyNaCl==1.6.2
python-dotenv==1.2.1
typing_extensions==4.16.0
yarl==1.22.0
yt-dlp==2025.10.14.232845.dev0
